<div class="header">
    <div class="left-text margin-container">
        <div class="left-text__title">NOVA ADMISSÃO COOPERADO</div>
        <div class="left-text__breadcrumb">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado </div>
    </div>

    <div class="profile">
        <div class="notification">
            <button type="button" class="btn">
                <i class="far fa-bell fa-lg"></i>
                <small>7</small>
            </button>
        </div>
        <div class="select-profile">
            <button type="button" class="btn">
                VIACREDI
            </button>
        </div>
        <div class="avatar">
            <button type="button" class="btn">
                <img src="https://img.freepik.com/free-photo/portrait-man-laughing_23-2148859448.jpg?w=826&t=st=1679407336~exp=1679407936~hmac=12c3741eb20b54180a453fd87fce0ab48cc57afdff82fa0a2fb68bccd970374a" alt="User" class="avatar">
                <small>
                    <i class="fas fa-cog"></i>
                </small>
            </button>
        </div>
    </div>
</div>
