/** COLORS */

 $blue: #165C7D;
 $gray-200: #c6ced1;
 $gray-500: #787878;
 $gray-600: #4F575E;
 $gray-800: #101213;
 $gray-900:#040F14;

 $white: #ffffff;
 $black: #000000;
 
 $border-color: #dce0e5;
 $container-color: #e7eef1;

 /*Status*/
 
 $success: #00c246;
 $danger: #FF0000;

 /*Warning box*/

 $warning-color: #664d03;
 $warning-background: #fff3cd;
 $warning-border-color: #ffecb5;