<div class="partner-list">
    <div class="card mg-right-15">
        <div class="titulo">Situação cadastral do CPF</div>
        <p>Consulta na Receita Federal</p>

        <div class="description">
            <div class="line">
                <div class="icon">
                    <i class="fas fa-user fa-lg"></i>
                </div>
                <div class="text">
                    <div class="text__title-text">Nome</div>
                    <label>{{ data.name }}</label>
                </div>
            </div>
            <div class="line">
                <div class="icon">
                    <i class="far fa-check-circle"></i>
                </div>
                <div class="text">
                    <div class="text__title-text">Situação do CPF</div>
                    <label>{{ data.status.name }}</label>
                </div>
            </div>
        </div>
    </div>
</div>