<div class="home container">
    <div class="form-step">
        <ul class="steps">
            <li class="active">Início</li>
            <li class="disabled">Documentos</li>
            <li class="disabled">Dados cadastrais</li>
            <li class="disabled">Admissão</li>
        </ul>
    </div>

    <div class="cpf margin-container">
        <div class="title">Informe o CPF do futuro cooperado (a)</div>

        <p>
            Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro futuramente. Digite apenas os números (sem pontos ou traços). 
        </p>

        <form [formGroup]="formData" (ngSubmit)="search()">
            <div class="search-cpf">
                <label for="searchCPF">CPF</label>
                <input type="search" 
                    id="searchCPF" 
                    formControlName="searchCPF"
                    placeholder="000.000.000-00" 
                    [mask]="'000.000.000-00'" 
                    [validation]="true"
                    [dropSpecialCharacters]="false"
                    [class.is-invalid]="formData.get('searchCPF')?.invalid && formData.get('searchCPF')?.touched">
                <div class="invalid-feedback" *ngIf="formData.get('searchCPF')?.invalid && formData.get('searchCPF')?.touched">
                    Informe um CPF válido!
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!loading && loaded && formData.get('searchCPF')?.valid && formData.get('searchCPF')?.value === loaded">
                <ng-container *ngIf="!loading; else elseBlock;">
                    Consultar por CPF
                </ng-container>
                <ng-template #elseBlock><i class="fas fa-spinner fa-spin"></i></ng-template>
            </button>
        </form>
    </div>

    <partner-list></partner-list>

    <div class="bottom-content">
        <button type="button" class="btn bt-blue" *ngIf="(partners$ | async)?.length">
            Iniciar nova admissão
        </button>
        <button type="button" class="btn">Dicas para abertura de conta</button>    
    </div>
</div>