@import "variables";

 
.partner-list {
    margin-top: 30px;

    .not-found {
        color: $warning-color;
        background-color: $warning-background;
        border-color:  $warning-border-color;
        padding: 20px;
    }

    &__partner {
        display: flex;

        &__card {
            background: $white;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            padding: 20px 20px 0 20px;
            width: 270px;

            &__titulo {
                font-weight: 700;
                font-size: 14px;
            }

            > p {
                font-weight: 400;
                font-size: 11px;
                margin: 0 0 20px 0;
                color: $gray-500;
            }

            &__infomation {
                &__line {
                    margin-bottom: 20px;
                    display: flex;

                    &__icon {
                        .fa-user {
                            font-size: 16px;
                            color: $gray-500;
                        }

                        .fa-check-circle {
                            font-size: 20px;
                            color: $success;

                        }
                    }

                    &__text {
                        margin-left: 22px;

                        &__title-text {
                            font-weight: 400;
                            font-size: 11px;
                            color: $gray-500;
                            line-height: 8px;
                        }

                        > label {
                            font-weight: 400;
                            font-size: 14px;
                            color:  $gray-900;
                        }
                    }                    
                }
            }
        }
    }
}