<div class="partner-list__partner">
    <div class="partner-list__partner__card mg-right-15">
        <div class="partner-list__partner__card__titulo">{{ data.type.name}}</div>
        <p> {{ data.company}} </p>

        <div class="partner-list__partner__card__infomation">
            <div class="partner-list__partner__card__infomation__line">
                <div class="partner-list__partner__card__infomation__line__icon">
                    <i class="fas fa-credit-card"></i>
                </div>
                <div class="partner-list__partner__card__infomation__line__text">
                    <div class="partner-list__partner__card__infomation__line__text__title-text">Numero da conta</div>
                    <label>{{ data.number }}</label>
                </div>
            </div>
            <div class="partner-list__partner__card__infomation__line">
                <button class="btn btn-bottom-card">
                    Duplicar conta
                </button>
            </div>
        </div>
    </div>
</div>